!testdata/
!testdata/NoticeTypeFileBrowser/sendWithPasswdAndStatusSuccess/.woodpecker_kit.steps.transfer
!testdata/NoticeTypeFileBrowser/sendSuccess/.woodpecker_kit.steps.transfer
!testdata/NoticeTypeFileBrowser/sendSuccessWithPasswd/.woodpecker_kit.steps.transfer
!testdata/NoticeTypeFileBrowser/pullRequestSendWithPasswd/.woodpecker_kit.steps.transfer
!testdata/NoticeTypeFileBrowser/failSendStatusSuccess/.woodpecker_kit.steps.transfer